<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogerrrrrr</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-green-500 to-blue-500">
    <div class="grandparent link">
        <nav class="flex justify-between">
            <h1 class="m-4 text-blue-900 font-serif text-3xl">
                Blogerrrrrr
            </h1>
            <ul class="flex">
                <li class="m-4 text-2xl">
                    <a href="#" class="btn font-serif bg-green-500 text-slate-600 py-2 px-4 rounded-md hover:bg-green-700 hover:text-slate-300 easyhover">Login</a>
                </li>
                <li class="m-4 text-2xl">
                    <a href="#" class="btn font-serif bg-green-500 text-slate-600 py-2 px-4 rounded-md hover:bg-green-700 hover:text-slate-300 easyhover">Contact Us</a>
                </li>
                <li class="m-4 text-2xl">
                    <a href="#" class="btn font-serif bg-green-500 text-slate-600 py-2 px-4 rounded-md hover:bg-green-700 hover:text-slate-300 easyhover">About Us</a>
                </li>
            </ul>
        </nav>
        <div class="flex items-center">
            <div class="left pt-24 flex-1">
                <p class="m-4 text-3xl font-mono">
                    Want to pen down your thoughts and let people know them,
                    <a href="#" class="text-blue-700 hover:text-blue-800 link2 easyhover">Join us</a>
                    and let your thoughts reach a large audience or just sit back and
                    <a href="#" class="text-blue-700 hover:text-blue-800 link2 easyhover">read</a>
                    what other people think about all the hot topics around you...
                </p>
            </div>
            <div class="right flex-1 link2">
                <img src="/images/img1.jpg" alt="blogging image" class="px-4 size-full rounded-full">
            </div>
        </div>
        <div class="btn-wrapper flex m-4 space-x-4">
            <a href="#" class="btn font-serif bg-blue-700 text-slate-300 py-2 px-4 rounded-md hover:bg-blue-800 easyhover">JOIN US</a>
            <a href="#" class="btn font-serif bg-blue-700 text-slate-300 py-2 px-4 rounded-md hover:bg-blue-800 easyhover">READ BLOGS</a>
        </div>
    </div>
</body>
</html>