<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogerrrrrr</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gradient-to-r from-green-500 to-blue-500">
    <div class="grandparent link">
        <nav class="flex justify-between">
            <h1 class="m-4 text-blue-900 font-serif text-3xl">
                Blogerrrrrr
            </h1>
            <ul class="flex">
                <li class="m-4 text-2xl">
                    <a href="#" class="btn font-serif bg-green-500 text-slate-600 py-2 px-4 rounded-full hover:bg-slate-300 hover:text-green-700 easyhover">Login</a>
                </li>
                <li class="m-4 text-2xl">
                    <a href="#" class="btn font-serif bg-green-500 text-slate-600 py-2 px-4 rounded-full hover:bg-slate-300 hover:text-green-700 easyhover">Contact Us</a>
                </li>
                <li class="m-4 text-2xl">
                    <a href="#" class="btn font-serif bg-green-500 text-slate-600 py-2 px-4 rounded-full hover:bg-slate-300 hover:text-green-700 easyhover">About Us</a>
                </li>
            </ul>
        </nav>
        <div class="flex justify-evenly mt-8 md:mt-10 px-4 md:px-0">
            <form class="w-full max-w-md md:max-w-lg glassmorphism-form p-6 md:p-8" action="#" method="post">
                <div class="mb-4">
                    <label class="block text-gray-900 text-sm font-bold mb-2" for="name">Title</label>
                    <input class="glassmorphism-input w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline" id="name" type="text" name="name" autocomplete="off" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-900 text-sm font-bold mb-2" for="content">Content</label>
                    <textarea class="glassmorphism-input w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline" rows="10" cols="50" id="content" name="content" autocomplete="off" required></textarea>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-900 text-sm font-bold mb-2" for="image">Image</label>
                    <input class="glassmorphism-input w-full py-2 px-3 text-gray-900 leading-tight focus:outline-none focus:shadow-outline" id="image" type="file" name="image" accept="image/*" onchange="previewImage(event)">
                    <button type="button" class="bg-blue-200 hover:bg-blue-300 text-black font-bold py-1 px-4 rounded-full focus:outline-none focus:shadow-outline mt-2" onclick="discardImage()">X</button>
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-blue-200 hover:bg-blue-300 text-black font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" type="submit">
                        Publish
                    </button>
                </div>
            </form>
            <div class="w-full max-w-md md:max-w-lg glassmorphism-form p-6 md:p-8">
                <h2 class="text-gray-900 text-lg font-bold mb-4">Preview</h2>
                <p id="preview-title" class="text-gray-900 mb-4"></p>
                <img id="preview-image" class="w-min h-min" src="" alt=""/>
                <p id="preview-content" class="text-gray-900 mb-4"></p>
                
            </div>
        </div>
    </div>
    <script>
        document.getElementById('name').addEventListener('input', function() {
            document.getElementById('preview-title').textContent = this.value;
        });
        document.getElementById('content').addEventListener('input', function() {
            document.getElementById('preview-content').textContent = this.value;
        });
        function previewImage(event) {
            const reader = new FileReader();
            reader.onload = function() {
                const output = document.getElementById('preview-image');
                output.src = reader.result;
            }
            reader.readAsDataURL(event.target.files[0]);
        }
        function discardImage() {
            const imageInput = document.getElementById('image');
            imageInput.value = '';
            document.getElementById('preview-image').src = '';
        }
    </script>
</body>
</html>
